*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, open-sans;
}

body{
    max-width: 1480px;
    margin: 0 auto;
    background-color: #121212;
}

.all{
    margin: 2vh 0;
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, .05);  
}
header{
    text-align: center;
    padding:20px 0;
}
header h2{
    color: white;
}
header ul{
    margin-top: 10px;
}
header a{
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 5px 10px;
    color: #121212;
    transition: 0.1s ease-in;
    font-size:14px ;
}
header a:hover{
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
}

/*SearchBar*/
.searchBar{
    display: flex;
    max-width: 400px;
    margin: 20px auto 0 auto;
}
.searchBar input{
    width: 100%;
    padding: 15px 25px 15px 20px;
    font-size: 14px;
}

/* Next - Previous Page*/
.pagination{
    margin: 10px auto;
    width: 30%;
    display: flex;
    justify-content: space-around;
}
.nextPage{
    width: 100%;
    max-width: 120px;
    padding: 10px 20px;
    background-color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    text-align: center;
}
.previousPage{
    width: 100%;
    max-width: 120px;
    text-align: center;
    padding: 10px 20px;
    background-color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.nextPage:hover{
    transform: scale(1.03);
}
.previousPage:hover{
    transform: scale(1.03);
}

/* PokeCards */
#main{
    padding: 10px 2%;
}
.pokemon-cards{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}
.pokemon-box{
    display: grid;
    padding: 10px 0;
    margin: 10px 5px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: 
    "a a a a a a a a"
    "b b b b b b b b"
    "c c c c c c c c"
    ;
    box-shadow: 0 4px 8px 0 rgba(238, 238, 238, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pokemon-box img{
    width: 250px;
    grid-area: a;
    margin: 0 auto;
    transition: 0.2s ease-in-out;
}
.pokemon-box img:hover{
    transform: scale(1.2);
}
.pokemon-box p.name{
    grid-area: b;
    margin: 0 auto;
    height: 50px;
    font-size: 20px;
    transition: 0.2s ease-in-out;
}
.pokemon-box p.type{
    grid-area: c;
    margin: 0 auto;
    height: 50px;
    font-size: 15px;
    transition: 0.2s ease-in-out;
}
.show-more{
    width: 300px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.checkBoxList{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap:10px;
    padding: 0 2%;
    margin-bottom: 10px;
}
.checkBoxList button{
    padding: 5px 15px;
    border: 1px solid rgba(255,255 ,255,0.8);
    font-size: 14px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.checkBoxList button:hover{
    font-size: 12px;
}
/*TYPES*/
.grass{
    background: rgb(120,250,108);
    background: linear-gradient(153deg, rgba(120,250,108,1) 0%, rgba(88,107,90,1) 100%);
}
.fire{
    background: rgb(255,102,0);
    background: linear-gradient(153deg, rgba(255,102,0,1) 0%, rgba(101,18,18,1) 100%);
}
.normal{
    background: rgb(255,217,178);
    background: linear-gradient(153deg, rgba(255,217,178,1) 0%, rgba(102,88,79,1) 100%);
}
.fighting{
    background: rgb(177,0,0);
    background: linear-gradient(153deg, rgba(177,0,0,1) 0%, rgba(74,0,0,1) 100%);
}
.water{
    background: rgb(0,241,255);
    background: linear-gradient(153deg, rgba(0,241,255,1) 0%, rgba(1,1,121,1) 100%);
}
.electric{
    background: rgb(255,197,2);
    background: linear-gradient(153deg, rgba(255,197,2,1) 0%, rgba(120,84,0,1) 100%);
}
.ice{
    background: rgb(222,252,255);
    background: linear-gradient(153deg, rgba(222,252,255,1) 0%, rgba(0,245,255,1) 100%);
}
.poison{
    background: rgb(162,0,255);
    background: linear-gradient(153deg, rgba(162,0,255,1) 0%, rgba(71,1,96,1) 100%);
}
.ground{
    background: rgb(143,84,0);
    background: linear-gradient(153deg, rgba(143,84,0,1) 0%, rgba(54,32,0,1) 100%);
}
.flying{
    background: rgb(255,255,255);
    background: linear-gradient(153deg, rgba(255,255,255,1) 0%, rgba(188,232,255,1) 100%);
}
.psychic{
    background: rgb(255,176,248);
    background: linear-gradient(153deg, rgba(255,176,248,1) 0%, rgba(200,0,209,1) 100%);
}
.bug{
    background: rgb(229,255,155);
    background: linear-gradient(153deg, rgba(229,255,155,1) 0%, rgba(80,107,58,1) 100%);
}
.rock{
    background: rgb(255,225,155);
    background: linear-gradient(153deg, rgba(255,225,155,1) 0%, rgba(107,78,58,1) 100%);
}
.ghost{
    background: rgb(155,159,255);
    background: linear-gradient(153deg, rgba(155,159,255,1) 0%, rgba(91,58,107,1) 100%);
}
.dark{
    background: rgb(156,156,156);
    background: linear-gradient(153deg, rgba(156,156,156,1) 0%, rgba(15,15,15,1) 100%);
}
.dragon{
    background: rgb(115,167,255);
    background: linear-gradient(153deg, rgba(115,167,255,1) 0%, rgba(206,101,255,1) 100%);
}
.steel{
    background: rgb(193,216,255);
    background: linear-gradient(153deg, rgba(193,216,255,1) 0%, rgba(44,44,52,1) 100%);
}
.fairy{
    background: rgb(255,193,250);
background: linear-gradient(153deg, rgba(255,193,250,1) 0%, rgba(97,15,66,1) 100%);
}

@media only screen and (max-width: 1152px) {
    body{
        max-width: 1100px;
    }
    .checkBoxList{
        grid-template-columns: repeat(4, 1fr);
    }

    .searchBar{
        width: 100%;
    }

    #main .pokemon-cards{
        grid-template-columns: 1fr 1fr;
    }
  }

@media only screen and (max-width: 600px) {
    body{
        max-width: 768px;
    }
    .checkBoxList{
        grid-template-columns: repeat(3, 1fr);
    }

    .searchBar{
        width: 100%;
    }

    #main .pokemon-cards{
        grid-template-columns: 1fr;
    }
  }